<div class="container">
  <div class="row">
    <div style="text-align:center;">
      <h2>本当に退会しますか？</h2><br>
      <p>退会すると、会員情報や<br>
      これまでに作成した予定、アルバムが閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。</p>

      <%= link_to "退会しない", my_page_path, class: 'btn btn-info' %>
      <%= link_to "退会する", thanks_path(@customer), method: :patch, "data-confirm" => "本当に退会しますか？", class: 'btn btn-danger' %>
    </div>
  </div>
</div>