<div class="container">
  <div class="row">
    <div class="confirm col-12">
      <h2>本当にイベントを削除しますか？</h2><br>
      <p>削除すると、イベントを元に戻すことはできません。<br>
      削除する場合は、「削除する」をクリックしてください。</p>

      <%= link_to "削除しない", event_path(@event.id), class: 'btn btn-info' %>
      <%= link_to "削除する", event_path(@event.id), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>