<div class="container">
  <span class="sub-title"><%= @event.title %>の参加者一覧</span>

<div class="row">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>氏名</th>
        <th>参加状況</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.customer.first_name+guest.customer.last_name %></td>
        <td><%= guest.status_i18n %></td>
        <td>
          <% if guest.customer.id == current_customer.id %>
            <%= link_to "編集する", edit_event_guest_path(@event.id,guest.id), class: 'btn btn-info' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>