<div class="container">
  <span class="sub-title">イベント一覧</span></br>
  <div class="row">
    <table class="table table-hover table-inverse" style="margin:20px;">
      <thead>
        <tr>
          <td>開催日</td>
          <td>イベント名</td>
          <td>主催者</td>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= event.start_time.strftime("%Y/%m/%d (%a)") %></td>
          <td><%= link_to event.title, admin_event_path(event.id) %></td>
          <td><%= event.customer.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @events %>
  </div>
</div>