@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.simple-calendar{
  .day {
    background:white;
  }

  .wday-0 {
    background: #ffcccc;
    color: #ff3333;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background: #bad3ff;
    color: #0066ff;
  }
  .today{
    background: #ffff99;
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {
    background:#cccccc;
  }
  .next-month {
    background:#cccccc;
  }
  .current-month {}
  .has-events {}

}

.nav-item{
  margin-right:10px;
}

.sub-title{
  background:#f79e9e;
  padding:5px;
  margin:20px;
}

table{
  margin:10px;
}

.nested-fields{
  height:30px;
  margin:10px;
}
